<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>MAIN PAGE</h1>
<!--    &lt;!&ndash; 현재 인증된 사용자의 이름을 출력하는 영역 &ndash;&gt;-->
<!--    <h1 th:text="${#authentication.name}"></h1><br>-->
<!--    <h1 th:text="${#authentication.principal.storeName}"></h1><br>-->
<!--    <h1 th:text="${#authentication.principal.role}"></h1><br>-->
<!--    <h1 th:text="${#authentication}"></h1><br>-->

<script>
    // 접속 주소
    const url = "http://localhost:8081/api/sse/connect";
    // SSE 연결
    const eventSource = new EventSource(url);

    // SSE가 연결이 되었을 때
    eventSource.onopen = event => {
        console.log("SSE Connection");
        console.log(event)
    }

    // 서버로부터 데이터 받았을 때
    eventSource.onmessage = event => {
        console.log("receive data: " + event.data);
    }
</script>

</body>
</html>